[Unit]
Description=compstat_scraper
Requires=docker.service
Wants=context.service
After=docker.service
After=context.service

[Service]
Type=oneshot

# Pull the current application code.
ExecStart=/usr/bin/docker pull registry.newsdev.net/compstat_parser:staging

# Define the core service.
ExecStart=/opt/bin/context exec -g compstat_parser -t '-e {}' /usr/bin/docker run --rm {} \
  --dns 10.50.32.125 --dns 10.90.32.125 \
  registry.newsdev.net/compstat_parser:staging ruby bin/compstat_scraper.rb
